h1{
    font-size: 40px;
    font-weight:bold;
    text-align:center;
    padding:50px;
    text-shadow: 4px 4px limegreen; 
    background-color: white;
}


.mynav{
    background-color: limegreen;
    text-align: center;
}

h1>p{
    font-size: 10px;
}
